
$f-nav: black;
$l-nav: aliceblue;
$f-boton-nav: aliceblue;


$f-body: darkolivegreen;
$l-body: aliceblue;
$fuente-body:  Verdana, Geneva, Tahoma, sans-serif;
$l-boton-body: aliceblue;
$f-boton-body: rgb(49, 49, 49);


$f-footer: black;
$l-footer: aliceblue;
