@import "variables";



header{ 
    nav{
    background-color: $f-nav;
        div{
            a{
               color: $l-nav !important; 
            }
            button{
                background-color: $f-boton-nav !important;
            }
        }
}
}
section{
    background-color: $f-body;
    h2{
        font-family: $fuente-body;
        color: $l-body !important;
    }
    p{
        font-family: $fuente-body;
        color: $l-body;
    }
    img{
        width: 20%;
    }
    button{
        color: $l-boton-body;
        background-color: $f-boton-body;
    }
}
footer{
    background-color: $f-footer;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            list-style: none;
            a{
                color: $l-footer;
                text-decoration: none;
            }
        }
    }
}